.inputSection {
  max-width: 300px;
}
#list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 300px;

  & li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    & p {
      width: 100%;
      padding-left: 20px;
    }
    & img {
      height: 30px;
      width: auto;
    }
  }
}
